/* Snippet Style */
.RWCallout, .RWHandout, .RWFlavor, .RWRead_Aloud {
    margin-top: 1.5rem;
    padding-top: 0.1rem;
    display: block;
}
/* GM Directions */
.RWgmDirAndContents {
    border:  3px solid #b4b4b4;
    padding: 3px;
}
.RWgmDirections {
    border: 2px solid #423d00;
    padding: 0px 3px;
    margin-left: 15px;
    display: block;
}
/* Snippet Veracity */
.RWveracity-Partial, .RWveracity-Lie {
    border-width: 3px;
    padding: 0px 3px;
    width: 100%;
}
.RWveracity-Partial {
    border-style: dashed;
}
.RWveracity-Lie {
    border-style: solid;
}

/* LIGHT THEME */
body.theme-light .RWveracity-Partial {
    border-color: #e4b5e4;
}
body.theme-light .RWveracity-Lie {
    border-color: #e7c2e8;
}
body.theme-light .RWgmDirections {
    background:   #fffbed60;
    border-color: #d2c5b5;
}
body.theme-light .RWCallout {
    background: #bebebe80;
}
body.theme-light .RWHandout {
    background: #e8e1d980;
    font-style: italic;
}
body.theme-light .RWFlavor {
    background: #efd4d280;
    font-style: italic;
}
body.theme-light .RWRead_Aloud {
    background: #d1dff280;
}

/* DARK THEME */
body.theme-dark .RWveracity-Partial, body.theme-dark .RWveracity-Lie {
    border-color: #e4b5e460;
}
body.theme-dark .RWgmDirections {
    background:   #1a1700;
    border-color: #601010;
}
body.theme-dark .RWCallout {
    background: #20206080;
}
body.theme-dark .RWHandout {
    background: #00383880;
    font-style: italic;
}
body.theme-dark .RWFlavor {
    background: #30003080;
    font-style: italic;
}
body.theme-dark .RWRead_Aloud {
    background: #28280080;
}

/* Additional markers for styles */
.RWgmDirections2:before, .RWCallout:before, .RWCallout:before, .RWHandout:before, .RWFlavor:before, .RWRead_Aloud:before {
    display: block;
    margin-top: -0.7rem;
    font-size: 0.7rem;
    color: green;
}
.RWgmDirections2:before {
    content: "GM Directions:"
}
.RWCallout:before {
    content: "Callout:"
}
.RWHandout:before {
    content: "Handout:"
}
.RWFlavor:before {
    content: "Flavor:"
}
.RWRead_Aloud:before {
    content: "Read Aloud:"
}
