<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Realm Works Output Formatter</Name>
    <Version>1.7</Version>
    <Title>Realm Works Output Formatter</Title>
    <Publisher>Martin Smith</Publisher>
    <ProductUrl>https://github.com/farling42/RWout</ProductUrl>
    <StartMenuDir>Amusing Time</StartMenuDir>
    <TargetDir>@ApplicationsDir@/RWout</TargetDir>
    <RunProgram>@TargetDir@/RWout.exe</RunProgram>
</Installer>
